<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17075891318-m06emfuelonkg33avrh7qsda8l3epqd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17075891318-m06emfuelonkg33avrh7qsda8l3epqd1</string>
	<key>API_KEY</key>
	<string>AIzaSyCvwGXx1XF5eDBpcQRGa1O5uJOfOAHwuvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>17075891318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jobcore.talent</string>
	<key>PROJECT_ID</key>
	<string>jobcore-1c01d</string>
	<key>STORAGE_BUCKET</key>
	<string>jobcore-1c01d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17075891318:ios:90be1a75d15a03d2</string>
	<key>DATABASE_URL</key>
	<string>https://jobcore-1c01d.firebaseio.com</string>
</dict>
</plist>